[userer]
	email = allyelvis6569@gmail.com
[user]
	email = allyelvis6569@gmail.com
	name = allyelvis
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
